@font-face {
  font-family: "Century Gothic";
  src: url('./shared/assets/fonts/CenturyGothic/centurygothic.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: "Century Gothic";
  src: url('./shared/assets/fonts/CenturyGothic/centurygothic_bold.ttf') format('truetype');
  font-weight: bold;
}

body {
  font-family: 'Century Gothic', sans-serif;
}