.header {
    height: 5rem;
    width: 100%;
    -webkit-box-shadow: 0px 6px 5px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 6px 5px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 6px 5px 0px rgba(34, 60, 80, 0.2);
    display: flex;
    justify-content: space-between;
}

.leftSide {
    display: flex;
}

.menu {
    display: flex;
    list-style: none;
    gap: 3rem;
    margin: 0;
    padding: 0;
    margin-left: 5rem;
}

.menu > li {
    display: flex;
    align-items: center;
}

.menu > li:hover {
    text-decoration: underline;
}

.logo {
    font-weight: bold;
    margin-left: 4rem;
}

.underLogo {
    font-size: medium;
    font-weight: bold;
    color: #5eb8f0;
}

.rightSide .flare {
    position: absolute;
    top: 0;
    height: 100%;
    width: 250px;
    transform: skewX(0deg); // Наклон
    animation: flareAnimation;
    left: -150%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.537));
    animation: flareAnimation 4s infinite linear;
    filter: blur(5px);
}

@keyframes flareAnimation {
    0% {
        left: -150%;
    }
    10% { 
        left: 150%;
    }
    100% {
        left: 150%;
    }
}